p {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #3E3E3E;
  margin: 0;
  padding: 0;
  font: 62.5% arial;
}

* {
  outline: none;
}

img {
  border: none;
}

form {
  margin: 0;
  padding: 0;
}

a, a.link {
  color: blue;
  text-decoration: none;;
}

#outerWrapper {
  width: 750px;
  margin: 0px auto;
}

#titleBar {
  color: #fff;
  background-color: #fff;
  height: 38px;
  font-size: 1.6em;
  font-weight: bold;
  background-image: url(../images/hellavcr.png);
  background-repeat: no-repeat;
}

#titleBar .version {
  color: #666;
  font-weight: normal;
  font-size: 0.8em;
  padding: 15px 0px 0px 128px;
}

#titleBar #addWrapper {
  float: right;
  padding: 8px 8px 9px 8px;
  margin-bottom: -1px;
  
}

#titleBar #addWrapper img {
  width: 18px;
  height: 18px;
  vertical-align: middle;
  padding-bottom: 1px;
}

#titleBar #addWrapper a {
  color: #666;
  font-size: 0.8em;
}

#titleBar #addWrapper a:hover {
  color: #9cb5cf;
}

#titleBar #addWrapper.selected {
  background-color: #9cb5cf;
}

#titleBar #addWrapper.selected a, #titleBar #addWrapper.selected a:hover {
  color: #fff;
}

#listingWrapper {
  padding: 1px 10px 10px 10px;
  background-color: #fff;
}

.listing {
  padding: 10px 20px 10px 10px;
  border: 1px solid #ccc;
  margin-top: 10px;
  overflow: hidden;
  background-color: #fff;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
}

.listing > img {
  width: 100px;
  height: 147px;
  float: left;
  border: 1px solid #000;
  background-image: url(../images/poster.png);
}

.listing > div {
  margin-left: 120px;
}

.listing h1 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 10px 0px;
  padding: 0;
  border-bottom: 1px solid #eee;
}

.listing h1 > .icons {
  float: right;
}

.listing h1 > .icons a {
  font-size: 0.7em;
  font-weight: normal;
}

.listing h1 > .icons a img {
  height: 16px;
}

.listing p {
  font-size: 1.1em;
  padding: 0px 0px 0px 5px;
  margin-bottom: 1px;
  overflow: hidden;
}

.listing p > .title {

}

.listing p > .info {
  font-weight: bold;
}

.listing p > .ended {
  color: red;
}

.listing p > .unknown {
  color: blue;
}

.listing p.next {
  border: 1px solid #ccc;
  background-color: #eee;
  padding: 5px;
  margin-bottom: 15px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.formWrapper {
  padding: 10px 0px 10px 7px;
  color: #fff;
  font-size: 1.1em;
  background-color: #9cb5cf;
  height: 190px;
}

#formWrapper {
  height: 270px;
}

.formWrapper h1 {
  margin: 0;
  font-size: 1.2em;
  margin: 0 -10px;
  padding: 5px 10px;
  color: #fff;
}

.formWrapper table {
  float: left; 
}

.formWrapper input {
  vertical-align: middle;
}

.formWrapper input[type='text'] {
  background-color: #fff;
  border: 1px solid #3e3e3e;
  padding: 3px;
}

.formWrapper input[type='text']:focus {
  background-color: #eee;
}

.formWrapper th, .formWrapper td {
  padding: 5px;
}

.formWrapper th {
  text-align: right;
  width: 85px;
}

.formWrapper td {
  
}

.postersWrapper {
  margin-left: 276px;
  padding-top: 8px;
  margin-right: -15px;
}

#postersWrapper {
  margin-left: 300px;
  padding-top: 8px;
}

.getPosters {
  color: #fff;
  font-weight: bold;
}

.getPosters img {
  width: 18px;
  height: 18px;
  vertical-align: middle;
  padding-bottom: 1px;
}

.selectPosters {
  padding-top: 5px;
}

.selectPosters img {
  border: 1px solid #000;
  margin: 0px 10px 8px 0px;
  opacity: 0.4;
}

.selectPosters img.notSelected {
  opacity: 0.4;
}

.selectPosters img.selected {
  opacity: 1.0;
}

.selectPosters img:hover, .selectPosters img.notSelected:hover {
  opacity: 1.0;
  cursor: pointer;
}

.postersLoading {
  vertical-align: middle;
  padding-left: 5px;
}

.addShow, .cancelShow {
  color: #fff;
  font-weight: bold;
}

.cancelShow {
  padding-left: 10px;
}

.addShow img, .cancelShow img {
  width: 18px;
  height: 18px;
  vertical-align: middle;
  padding-bottom: 1px;
}

.errorBox {
  background-color: #ff9c99;
  background-image: url(../images/error.png);
  background-position: 10px 50%;
  background-repeat: no-repeat;
  padding: 13px 13px 13px 42px;
  font-size: 1.2em;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
}

.versionBox {
  background-color: #9cb5cf;
  background-image: url(../images/feed.png);
  background-position: 10px 50%;
  background-repeat: no-repeat;
  padding: 13px 13px 13px 42px;
  font-size: 1.2em;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
}

.versionBox a {
  color: #fff;
  padding-left: 10px;
}

.versionBox a:hover {
  text-decoration: underline;
}

.versionBox a img {
  width: 18px;
  height: 18px;
  vertical-align: middle;
  padding-bottom: 1px;
}

#listingWrapper .errorBox, #listingWrapper .versionBox {
  margin-top: 10px;
}

#sortBar {
  color: #666;
  background-color: #000;
  padding: 10px;
  font-size: 1.1em;
  font-weight: normal;
}

#sortBar a {
  color: #9cb5cf;
  font-weight: bold;
}

#sortBar a.asc, #sortBar a.desc {
  background-image: url(../images/sort_down.png);
  background-repeat: no-repeat;
  background-position: 100% 50%;
  padding-right: 18px;
  color: #ffac5e;
}

#sortBar a.desc {
  background-image: url(../images/sort_up.png);
  background-position: 100% 40%;
}

.editFormWrapper {
  display: none;
}

.listing .formWrapper {
  background-color: transparent;
}

.listing .formWrapper th {
  width: 75px;
}

.editingListing {
  background-color: #9cb5cf;
}

.normalListing {
  background-color: #fff;
}

.historyLink {
  float: right;
  background-image: url(../images/expand.png);
  background-repeat: no-repeat;
  background-position: 0px 50%;
  padding-left: 17px;
  color: #9cb5cf;
  font-weight: bold;
}

.historyLinkActive {
  background-image: url(../images/collapse.png);
  color: #000;
}

.downloadedEps {
  display: none;
  padding: 8px 0 12px 0;
  overflow: hidden;
}

.downloadedEps > h2 {
  border: 1px solid #ccc;
  background-color: #eee;
  font-size: 1.1em;
  font-weight: normal;
  margin: 5px 0px 0px 0px;
  padding: 5px 5px 5px 21px;
  color: #000;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  background-image: url(../images/expand.png);
  background-repeat: no-repeat;
  background-position: 3px 60%;
  cursor: pointer;
}

.downloadedEps > h2 > span {
  float: right;
  font-weight: normal;
  color: #f00;
}

.downloadedEps > h2 > span.complete {
  color: #0a0;
}


.downloadedEps > h2.active {
  background-color: #9cb5cf;
  color: #fff;
  background-image: url(../images/collapse.png);
}

.downloadedEps > h2.active > span {
  color: #fff;
}

.downloadedEps div.historySeason {
  overflow: hidden;
}

.downloadedEps div.historySeason > div {
  border: 1px solid #ccc;
  overflow: hidden;
  padding: 5px 0 2px 5px;
  margin: 5px 0 1px 0;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.downloadedEps div.historySeason > div > div {
  float: left;
  width: 12%;
}

.downloadedEps div.historySeason > div > div > p {
  margin-bottom: 2px;
  background-image: url(../images/history_dl.png);
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding: 3px 0 3px 18px;
}

.downloadedEps div.historySeason > div > div > p.downloaded {
  background-image: url(../images/history_yes.png);
  color: #0a0;
}

.downloadedEps div.historySeason > div > div > p.notdownloaded:hover {
  background-image: url(../images/history_dl_active.png);
  color: #4693D8;
  cursor: pointer;
}

.downloadedEps div.historySeason > div > div > p.notaired {
  background-image: url(../images/history_notaired.png);
  color: #aaa;
}

h1.day {
  background-color: #9cb5cf;
  color: #fff;
  padding: 2px 0 3px 0;
  text-align: center;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}